<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Usuario</title>
    @Styles.Render("~/Content/css")
    <link href="~/styles/style3.css" rel="stylesheet" />
    <script>
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
