<main id="Tablero" class="bg-dark">
    <div class="fila font-weight-bold text-black">
        <div class="casilla dentro border-0"></div>
        <div class="casilla dentro border-0">A</div>
        <div class="casilla dentro border-0">B</div>
        <div class="casilla dentro border-0">C</div>
        <div class="casilla dentro border-0">D</div>
        <div class="casilla dentro border-0">E</div>
        <div class="casilla dentro border-0">F</div>
        <div class="casilla dentro border-0">G</div>
        <div class="casilla dentro border-0">H</div>
        <div class="casilla dentro border-0"></div>
    </div>

    @{
        string[] letras = { "A", "B", "C", "D", "E", "F", "G", "H" };

        for (int i = 0; i < letras.Length; i++)
        {
            var id2 = i + 1;
        <div class="fila font-weight-bold text-black">
            <div class="casilla dentro border-0">@id2</div>

            @for(int j = 0; j < letras.Length; j++){
            var id = letras[j] + (i+1);
            <div id=@id class="casilla dentro"></div>
            }

            <div class="casilla dentro border-0">@id2</div>
        </div>
        }
    }

    <div class="fila font-weight-bold text-black">
        <div class="casilla dentro border-0"></div>
        <div class="casilla dentro border-0">A</div>
        <div class="casilla dentro border-0">B</div>
        <div class="casilla dentro border-0">C</div>
        <div class="casilla dentro border-0">D</div>
        <div class="casilla dentro border-0">E</div>
        <div class="casilla dentro border-0">F</div>
        <div class="casilla dentro border-0">G</div>
        <div class="casilla dentro border-0">H</div>
        <div class="casilla dentro border-0"></div>
    </div>
</main>