@{
    IPC2.Models.Ficha2[] fichasVector = Model;


    bool buscar(int id2)
    {
        bool bandera = false;
        for (int i = 0; i<64; i++)
        {
            if (fichasVector[i] == null)
            {
                bandera = false;
            }
            else if (fichasVector[i].numero == id2)
            {
                return true;
            }
            else
            {
                bandera = false;
            }
        }
        return bandera;
    }

    IPC2.Models.Ficha2 devolver(int id2, IPC2.Models.Ficha2[] lista)
    {
        IPC2.Models.Ficha2 ficha = null;

        for(int i = 0; i<64; i++)
        {
            if (lista[i] == null)
            {
                return ficha;
            }
            else if(lista[i].numero == id2)
            {
                ficha = lista[i];
                return ficha;
            }
        }

        return ficha;
     }
}
    <main id="Tablero" class="bg-dark">
        <div class="font-weight-bold text-black">
            <div class="casilla dentro border-0"></div>
            <div class="casilla dentro border-0">A</div>
            <div class="casilla dentro border-0">B</div>
            <div class="casilla dentro border-0">C</div>
            <div class="casilla dentro border-0">D</div>
            <div class="casilla dentro border-0">E</div>
            <div class="casilla dentro border-0">F</div>
            <div class="casilla dentro border-0">G</div>
            <div class="casilla dentro border-0">H</div>
            <div class="casilla dentro border-0"></div>
        </div>

        @{
            int id = 0;

            for (int i = 0; i < 8; i++)
            {
                <div class="font-weight-bold text-black">
                    <div class="casilla dentro border-0">@(i+1)</div>
                    @{
                        for (int j = 0; j < 8; j++)
                        {
                            if (buscar(id))
                            {

                                if (fichasVector[id].color.Equals("negro"))
                                {
                                    <button type="submit" class="casilla dentro"><i class="fas fa-circle"></i></button>
                                }
                                else
                                {
                                    <button type="submit" class="casilla dentro"><i class="fas fa-circle white"></i></button>
                                }
                            }
                            else
                            {
                                if (TempData["Turno"].Equals("blanco"))
                                {
                                    <form method="post">
                                        <button type="submit" class="casilla dentro"></button>
                                        <input type="hidden" name="id" value=@id>
                                        <input type="hidden" name="color" value="blanco">
                                    </form>
                                }
                                else
                                {
                                    <form method="post">
                                        <button type="submit" class="casilla dentro"></button>
                                        <input type="hidden" name="id" value=@id>
                                        <input type="hidden" name="color" value="negro">
                                    </form>
                                }
                            };
                            id++;
                        }
                    }

                    <div class="casilla dentro border-0">@(i+1)</div>
                </div>
            }
        }

        <div class="font-weight-bold text-black">
            <div class="casilla dentro border-0"></div>
            <div class="casilla dentro border-0">A</div>
            <div class="casilla dentro border-0">B</div>
            <div class="casilla dentro border-0">C</div>
            <div class="casilla dentro border-0">D</div>
            <div class="casilla dentro border-0">E</div>
            <div class="casilla dentro border-0">F</div>
            <div class="casilla dentro border-0">G</div>
            <div class="casilla dentro border-0">H</div>
            <div class="casilla dentro border-0"></div>
        </div>
    </main>