body {
    text-align: center;
    background: url("../Images/fondo.jpg") 0px 0px no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
#Tablero {
    margin: auto;
    width: 500px;
    height: 500px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

#Tablero-X {
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.fila {
    padding: 0px;
}

.fas, .far {
    font-size: 40px;
}

.white {
    color: white;
}

.grey {
    color: #3AB800;
}

.casilla {
    border: 1px solid white;
    width: 48px;
    height: 48px;
    float: left;
    font-size: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}




.dentro {
    background-color: rgb(122, 122, 122);
}

.fichaNegra {
    width: 40px;
    height: 40px;
    border: 0px solid black;
    border-radius: 50%;
    background-color: rgb(35, 35, 35);
}

.container {
    margin-top: 20px;
    border: 1px solid white;
}

.di {
    width: 120px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.di2 {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

